@page
@model BusManagementSystem.Pages.ViewUser.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @("*" + new string('*', item.Password.Length - 1))
            </td>
            <td>
                    @{
                        string statusName = item.Status switch
                        {
                            1 => "Active",
                            _ => "Inactive",
                        };

                }
                @statusName
            </td>
                <td>
                    @{
                        string roleName = item.Role.RoleId switch
                        {
                            1 => "Admin",
                            2 => "Staff",
                            _ => "Member",
                        };
                    }
                    @roleName
                </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
